<table border="1" class="table table-hover">
	<tr><center><h2>Medicos Do Hospital</h2></center></tr>
	<tr>
		<th>Nome do Médico</th>
		<th>Especialidade</th>
		<th>Dias de Atendimento</th>
		<th>Horário de Atendimento</th>
		
	</tr>
	
	<% @medics.each do |medic| %>
	
	<tr>
	
		<th><%= medic.name %></th>
		<th><%= medic.dadosM %></th>
		<th><%= medic.diasM %></th>
		<th><%= medic.horasM %></th>

	</tr>
	<% end %>
</table>
	
