<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="panel panel-default">
	  <div class="panel-heading"><%= @medic.name %></div>
	  	<div class="panel-body">
			<p class="register_number">Nome: <%= @medic.name %></p>

			<p class="actions">
				<%= link_to 'Editar', edit_patient_path(@medic), class:'btn btn-primary pull-left' %>
				<%= link_to 'Excluir', patient_path(@medic), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger pull-right' %>
			</p>
		</div>
	</div>
</div>