<h1>Painel administrativo</h1>

<br/>

<h2>Cadastros</h2>

<br/>

<ul>
  <li><%= link_to "Paciente", new_patient_path %></li>
  <li><%= link_to "Médico", new_medic_path %></li>
  <li><%= link_to "Enfermeiro", new_nurse_path %></li>
  <li><%= link_to "Administrador", new_admin_path %></li>
</ul>